.header {
	height: 89px;
}
.image_header {
	margin: 0px auto 0px auto;
	z-index: 1;
	position: absolute;
	top: 5px;
	right: 0px;
	bottom: 0px;
	left: 0px;

}
.image_logo {
	margin: 25px auto 0px 40px;
	z-index: 2;
	position: absolute;
	top: 5px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
#gnb {
	margin: 0px;
	padding: 0px;
	z-index: 2;
	position: absolute;
	top: 55px;
	left: 500px;
}
#gnb ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: small;
	z-index: 3;
}
#gnb ul li  {
	float: left;
	text-align: center;
	font-size: small;
	padding: 5px 0px 5px 0px;
	margin: 0px;
	width: 150px;
	height: 30px;
	z-index: 4;
	color: #FFFFFF;
	font-family: "맑은 고딕";
}
.image_container {
	margin-top: 2px;
	margin: 0px auto 0px auto;
}
.footer {
	font-family: "08서울남산체 M";
	font-size: small;
	color: #333333;
	text-align: center;
	clear: both;
}
.newStyle1 {
	background-color: #FFFF00;
}
#gnb ul li a:hover {
	color: #FFFF00;
	font-weight: bolder;
}
